<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Modificar usuarios

        </h1>

    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form action="guardar" id="formulario" method="post">

                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" readonly value="<%= datos.id %>" name="id">

                    </div>


                    <label>Tipo de Usuario</label>
                    <select name="codigo_tipo_usuario" class="form-control">
                        <% tiposUsuario.forEach((tipo)=> { %>
                            <option value="<%= tipo.CODIGO_TIPO_USUARIO %>"
                                <%=tipo.CODIGO_TIPO_USUARIO==datos.codigo_tipo_usuario ? 'selected' : '' %>><%=
                                    tipo.DESCRIPCION %>
                            </option>
                            <% }); %>
                    </select>
                    <div class="form-group">
                        <label>Tipo de Documento</label>
                        <input type="text" class="form-control" value="<%= datos.tipo_documento %>"
                            name="tipo_documento">
                    </div>
                    <div class="form-group">
                        <label>Documento</label>
                        <input type="text" class="form-control" value="<%= datos.documento %>" name="documento">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" value="<%= datos.nombre %>" name="nombre">
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" value="<%= datos.apellido %>" name="apellido">
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" class="form-control" value="<%= datos.correo %>" name="correo">
                    </div>
                    <div class="form-group">
                        <label>Clave</label>
                        <input type="text" class="form-control" value="<%= datos.clave %>" name="clave">
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <select name="estado" id="" class="form-control">
                            <option value="1" <%= datos.estado == 1 ? 'selected' : '' %>>Activo</option>
                            <option value="2" <%= datos.estado == 2 ? 'selected' : '' %>>Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha de modificacion</label>

                        <input id="fechaCreacion" name="fecha_creacion" type="text" class="form-control" readonly>

                    </div>
                    <div class="box-footer">
                        <div class="input-group">
                            <button class="btn btn-app" type="submit" onclick="confirmar()">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                        <a href="usuario" class="btn btn-danger">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>


        </div>
        <!-- /.box -->

    </section>


</div>


<script>
    let fecha = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Bogota' });
    document.getElementById('fechaCreacion').value = fecha;
</script>
<script>
    function confirmar() {
        const formu = document.querySelector("#formulario");
        formu.addEventListener("submit", (event) => {

            event.preventDefault();
            Swal.fire({
                title: 'guardar cambios?',
                text: "modificaras este usuario!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'SI!'
            }).then((result) => {
                if (result.isConfirmed) {
                    formu.submit();
                    Swal.fire(
                        'Modificado!',
                        'ya se modifico mi bro.',
                        'success'
                    )
                }
            })
        })

    }
</script>