<!-- Site wrapper -->

<div class="wrapper">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Usuarios
       
      </h1>
     
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <a type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default1">
            Añadir usuario
          </a>
          

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
              title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>DOCUMENTO</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>CORREO</th>
                
              </tr>
            </thead>
            <tbody>
              <% datos.forEach((elements)=>{ %>
                <tr>
                  <td><%= elements.CODIGO_USUARIO %></td>
                  <td><%= elements.DOCUMENTO %></td>
                  <td><%= elements.NOMBRE %></td>
                  <td><%= elements.APELLIDO %></td>
                  <td><%= elements.CORREO %></td>
                  
                  
                  <td>

                    <a href="edituser?id=<%= elements.CODIGO_USUARIO %>&codigo_tipo_usuario=<%= elements.CODIGO_TIPO_USUARIO %>&documento=<%= elements.DOCUMENTO %>&tipo_documento=<%= elements.TIPO_DOCUMENTO %>&nombre=<%= elements.NOMBRE %>&apellido=<%= elements.APELLIDO %>&correo=<%= elements.CORREO %>&clave=<%= elements.CLAVE %>&estado=<%= elements.ESTADO %>&fecha_creacion=<%= elements.FECHA_CREACION %>" class="btn btn-success">
                      <i class="fa fa-edit"></i>
                    </a>
                    <!-- <a  data-toggle="modal" data-target="#modal-default2" class="btn btn-success">
                      <i class="fa fa-edit"></i>
                    </a> -->
                    <a  class="btn btn-danger" onclick="confirmar(`<%= elements.CODIGO_USUARIO %>`)">
                      <!-- href="borrar?id=<%= elements.ID %>" --> 
                        <i class="fa fa-trash"></i>
                      </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <form action="generarpdf" method="POST">
            <input type="hidden" name="datos">
            <label for="formato">Formato:</label>
            <select name="formato" id="formato">
              <option value="pdf">PDF</option>
              <option value="excel">Excel</option>
            </select>
            <button type="submit">Generar</button>
          </form>
          
        </div>

      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-default1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="guardaru" method="post">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ingrese el nuevo usuario</h4>
          </div>
          
          <div class="modal-body">
            <div class="form-group">
            <label>Tipo de Usuario</label>
            <select name="CODIGO_TIPO_USUARIO" class="form-control">
              <option  value="2">USUARIO</option>
                <option value="1">ADMIN</option>
            </select>
          </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
            <label>Tipo de Documento</label>
            <select name="TIPO_DOCUMENTO" class="form-control">
              <option  value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
          </div>
          </div>
          
          <div class="modal-body">
            <label>Documento</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="DOCUMENTO" type="number" class="form-control" placeholder="Ingrese el Documento">
            </div>
          </div>
          <div class="modal-body">
            <label>Nombre</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="NOMBRE" type="text" class="form-control" placeholder="Ingrese el Nombre">
            </div>
          </div>
          <div class="modal-body">
            <label>Apellido</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="APELLIDO" type="text" class="form-control" placeholder="Ingrese el Apellido">
            </div>
          </div>
          <div class="modal-body">
            <label>Correo</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CORREO" type="text" class="form-control" placeholder="Ingrese el Correo">
            </div>
          </div>
          <div class="modal-body">
            <label>Clave</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CLAVE" type="text" class="form-control" placeholder="Ingrese una Clave">
            </div>
          </div>
            <div class="modal-body">
              <div class="form-group">
              <label>Estado</label>
              <select name="ESTADO" class="form-control">
                <option  value="1">Activo</option>
              </select>
            </div>
         </div>
          <div class="modal-body">
            <label>Fecha de Creacion</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="FECHA_CREACION" type="text" class="form-control" >
            </div>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
          </form>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    






    <div class="modal fade" id="modal-default2">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="actualizar" method="put">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ingrese el nuevo usuario para actualizar</h4>
          </div>
          <div class="modal-body">
            <label>ID</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="ID" type="number" class="form-control" placeholder="Ingrese el id">
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              
            <label>Tipo de Usuario</label>
            <select name="CODIGO_TIPO_USUARIO" class="form-control">
              <option  value="2">USUARIO</option>
                <option value="1">ADMIN</option>
            </select>
          </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
            <label>Tipo de Documento</label>
            <select name="TIPO_DOCUMENTO" class="form-control">
              <option  value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
          </div>
          </div>
          
          <div class="modal-body">
            <label>Documento</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="DOCUMENTO" type="number" class="form-control" placeholder="Ingrese el Documento">
            </div>
          </div>
          <div class="modal-body">
            <label>Nombre</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="NOMBRE" type="text" class="form-control" placeholder="Ingrese el Nombre">
            </div>
          </div>
          <div class="modal-body">
            <label>Apellido</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="APELLIDO" type="text" class="form-control" placeholder="Ingrese el Apellido">
            </div>
          </div>
          <div class="modal-body">
            <label>Correo</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CORREO" type="text" class="form-control" placeholder="Ingrese el Correo">
            </div>
          </div>
          <div class="modal-body">
            <label>Clave</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CLAVE" type="text" class="form-control" placeholder="Ingrese una Clave">
            </div>
          </div>
            <div class="modal-body">
              <div class="form-group">
              <label>Estado</label>
              <select name="ESTADO" class="form-control">
                <option  value="1">Activo</option>
              </select>
            </div>
         </div>
          <div class="modal-body">
            <label>Fecha de Creacion</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="FECHA_CREACION" type="text" class="form-control" >
            </div>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
          </form>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  <!-- /.content-wrapper -->

</div>

<script>
  function confirmar(CODIGO_USUARIO) {
    Swal.fire({
      title: '¿Estás seguro?',
      text: '¿Quieres borrar realmente esto? ' + CODIGO_USUARIO,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '¡Sí, borrar!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Borrando...',
          text: 'Por favor, espera un momento.',
          icon: 'info',
          showConfirmButton: false
        });

        setTimeout(function() {
          window.location.href = `borrar?id=${CODIGO_USUARIO}`;
          Swal.fire({
            title: '¡Borrado exitoso!',
            text: 'Tu registro ha sido borrado correctamente.',
            icon: 'success',
            timer: 3000,
            showConfirmButton: false
          }).then(() => {
            // Redirecciona a la página de reservaciones
            window.location.href = '/v1/usuario';
          });
        }, 2000);
      }
    });
  }
</script>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const success = urlParams.get('success');
  const id = urlParams.get('id');

  if (success === 'true') {
    Swal.fire({
      title: '¡Borrado exitoso!',
      text: 'Tu registro ha sido borrado correctamente.',
      icon: 'success',
      timer: 3000,
      showConfirmButton: false
    }).then(() => {
      // Redirecciona a la página de reservaciones
      window.location.href = '/v1/usuario';
    });
  } else if (success === 'false') {
    Swal.fire({
      title: 'Error',
      text: 'No se pudo borrar el registro.',
      icon: 'error',
      timer: 3000,
      showConfirmButton: false
    }).then(() => {
      // Redirecciona a la página de reservaciones
      window.location.href = '/v1/usuario';
    });
  }
</script>
<!-- ./wrapper -->