<!DOCTYPE html>
<html>
        <%- include("partials/dashhead.ejs"); %>

  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <%- include("partials/dashmenu.ejs"); %>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <% if (menu == 0) {%>
          <%- include("partials/dashinicio.ejs"); %>
        <% } %>

        <% if (menu == 1) {%>
          <%- include("partials/dashuser.ejs"); %>
        <% } %>

        <% if (menu == 2) {%>
          <%- include("partials/dashhabitaciones.ejs"); %>
        <% } %>

        <% if (menu == 3) {%>
          <%- include("partials/dashreservaciones.ejs"); %>
        <% } %>

        <% if (menu == 4) {%>
          <%- include("partials/dashedituser.ejs"); %>
        <% } %>
        <% if (menu == 5) {%>
          <%- include("partials/dashedithabitaciones.ejs"); %>
        <% } %>
        <% if (menu == 6) {%>
          <%- include("partials/dasheditreservas.ejs"); %>
        <% } %>
        <% if (menu == 7) {%>
          <%- include("partials/dashcategoria.ejs"); %>
        <% } %>
        <% if (menu == 8) {%>
          <%- include("partials/dashmetodopago.ejs"); %>
        <% } %>
        <% if (menu == 9) {%>
          <%- include("partials/dashpiso.ejs"); %>
        <% } %>
        <% if (menu == 10) {%>
          <%- include("partials/dashestadohabitacion.ejs"); %>
        <% } %>
        <% if (menu == 11) {%>
          <%- include("partials/dashtipousuario.ejs"); %>
        <% } %>
        <% if (menu == 12) {%>
          <%- include("partials/dasheditcategoria.ejs"); %>
        <% } %>
        <% if (menu == 13) {%>
          <%- include("partials/dasheditmetodopago.ejs"); %>
        <% } %>
        <% if (menu == 14) {%>
          <%- include("partials/dasheditpisos.ejs"); %>
        <% } %>
        <% if (menu == 15) {%>
          <%- include("partials/dasheditestados.ejs"); %>
        <% } %>
        <% if (menu == 16) {%>
          <%- include("partials/dashedittiposu.ejs"); %>
        <% } %>
        <!-- /.content-wrapper -->

        <%- include("partials/dashfooter.ejs"); %>

            <!-- jQuery 3 -->
            <script src="../v1/bower_components/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="../v1/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- SlimScroll -->
            <script src="../v1/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
            <!-- FastClick -->
            <script src="../v1/bower_components/fastclick/lib/fastclick.js"></script>
            <!-- AdminLTE App -->
            <script src="../v1/dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="../v1/dist/js/demo.js"></script>
            <script>
              $(document).ready(function () {
                $('.sidebar-menu').tree()
              })
            </script>



  </body>

  

</html>